@font-face {
    font-family: 'Pretendard';
    src: url(../font/Pretendard-Bold.otf);
    src: url(../font/Pretendard-Light.otf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Pretendard';
    letter-spacing: 1px;
}

/*공통 속성 */
.grid-width {
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
}

.cursor {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.button {
    width: 220px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-right: 20px
}

.button a{
    text-decoration: none;
    color: white;
}

.button-blue {
    background-color: #5D33E2;
    color: white;
}

.button-gray {
    background-color: #909090;
    color: white;
}

.button-gray:hover {
    background-color: #5D33E2;
    transition: 0.3s;
}

.change-blue {
    color: #5D33E2;
}

.change-red {
    color: red;
}

.section-title {
    color: white;
    font-size: 26px;
}

.view-more-flex {
    display: flex;
    justify-content: space-between;
}

.view-more {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #909090;
    letter-spacing: -4%;
    padding-top: 25px;
}

.view-more:hover {
    opacity: 0.8;
}

.nft-profile {
    width: 64px;
    height: 64px;
}
/*공통 속성 */

/* header*/
header {
    width: 100%;
    height: 100px;
    position: sticky;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    z-index: 1;
}

.header-container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    list-style: none;
    padding-left: 70px;
}

.menu ul li {
    margin-right: 47px;
}

.menu ul a {
    color: #909090;
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
}

.menu ul a:hover {
    color: white;
    transition: 0.3s;
    font-weight: bold;
}

form {
  display: flex;
  margin: 0;
  margin-right: 8px;
  width: 845px;
  height: 50px;
  background-color: rgba(90, 90, 90, 0.5);
  border-radius: 15px;
}

input[type=search] {
  border: none;
  margin: 0;
  font-size: 16px;
  border-radius: 15px;
  color: white;
}

input[type=search]::placeholder {
  color: #909090;
}

input[type=search]:focus {
  box-shadow: 0 0 3px 0 #5D33E2;
  border-color: #5D33E2;
  outline: none;
  color: white;
}

/* input 기본 delete버튼 없애주는 코드 */
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent url("../image/search-icon.svg") no-repeat 13px center;
}

.header-icon {
    display: flex;
}

.header-icon img {
    margin-left: 20px;
}

/* header*/

/* main-content Section*/
.main-content {
    height: 810px;
    background:
        linear-gradient(
            to top,
            rgba(0, 0, 0, 1), 
            rgba(0, 0, 0, 0.2)
        ),
        url(../image/main/main-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
}

.main-text {
    padding-top: 200px;
}

.title {
    color: white;
}

.title h1 {
    font-size: 64px;
    margin: 0;
    margin-bottom: 25px;
}

.main-title p {
    font-size: 18px;
    font-weight: normal;
    color: white;
    line-height: 160%;
    letter-spacing: 0px;
}

.main-price {
    margin-top: 60px;
}

.main-price p{
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.eth {
    margin-left: 21px;
}

.eth p {
    margin-left: 4px;
}

.main-button {
    margin-top: 100px;
}

/* main-content Section/

/* ranking Section*/
.ranking {
    margin-top: 10px;
}

.wrapper {
	width: 100%;
	overflow: hidden;
    min-width: 1720px;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

tbody tr {
    height: 90px;
    border-radius: 15px;
}

th {
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td img {
    border-radius: 15px;
}

td, th {
    padding: 1em 1.5em;
    text-align: left;
}

thead th {
    font-size: 16px;
    color: #909090;
}

tbody td {
    font-size: 18px;
}

tbody td a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}

tbody tr:hover {
    background-color: rgba(50,98,149,.3);
}

tbody td:nth-child(1) {
    padding: 0;
    padding-left: 10px;
}

tbody td:nth-child(2) {
    display: flex;
    align-items: center;
}

tbody td:nth-child(9) {
    padding: 0;
    text-align: right;
}

tbody td:nth-child(7) {
    padding-top: 30px;
}

tbody td:nth-child(8) {
    padding-top: 30px;
}
/* ranking Section*/

/* article Section*/
.article {
    margin-top: 150px;
}

.article-container {
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}

.article-box {
    width: 408px;
    height: 550px;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(22.5px);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    z-index: 0;
    
}

.article-box:hover {
    transform: translateY(-10px);
}

.article-text h1{
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
}

.article-text {
    padding: 30px;
}

.article-text p {
    color: #909090;
    line-height: 150%;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
}

.article-button {
    width: 100%;
    height: 60px;
    border: none;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #909090;
    cursor: pointer;
}

.article-button:hover {
    background-color: #5D33E2;
    transition: 0.3s;
}

/* article Section*/

/* partenrship Section*/
.partnership {
    margin-top: 200px;
}

.partnership h1 {
    text-align: center;
    line-height: 150%;
    margin-bottom: 100px;
}

.partnership-container {
    justify-content: space-between;
}
.partnership-img img {
    width: 262px;
    height: 262px;
    border-radius: 25px;
}
/* partenrship Section*/

/* footer Section*/
footer {
    width: 100%;
    height: auto;
    background-color: #0C0909;
    margin-top: 150px;
}

.footer-container {
    display: flex;
    justify-content: space-between;

}

.footer-menu {
    width: 262px;
    margin-top: 100px;
}

.footer-menu h3 {
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 40px;
}

.footer-menu li {
    font-size: 14px;
    color: #909090;
    font-weight: normal;
    list-style: none;
    padding-bottom: 20px;
}

.footer-logo {
    margin-top: 120px;
    padding-bottom: 80px;
}
/* footer Section*/


/* COLLECTION PAGE CSS */
/* collection-main Section */
.collection-main {
    width: 100%;
    height: 250px;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.1), 
            rgba(0, 0, 0, 0.1)
        ),
        url(../image/main/main-background.png);
        background-repeat: no-repeat;
        background-size: cover;
}

/* collection-title Section */
.collection-title {
    position: relative;
    height: 480px;
}

.collection-title-container {
    width: 100%;
    position: absolute;
    top: -70px;
}

.main-profile {
    width: 140px;
    border: 4px solid white;
    border-radius: 15px;
}

.collection-name {
    width: 100%;
    color: white;
    justify-content: space-between;
    margin-top: 30px;
   
}

.collection-name h1 {
    margin: 0;
    font-size: 28px;
}

.collection-name img {
    margin-left: 5px;
}

.collection-creator {
    color: #909090;
    font-size: 16px;
    margin-top: 20px;
}

.collection-description {
    margin-top: 20px;
}

.collection-description ul{
    display: flex;
    color: #909090;
}

.collection-description li {
    list-style: none;
    padding-right: 15px;
    font-size: 13px;
    font-weight: normal;
}

.collection-description li span {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.description-detail {
    color: #909090;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}

.description-detail p {
    padding-bottom: 3px;
}

.collection-price {
    color: white;
    display: flex;
    margin-top: 50px;
}

.collection-price div {
    padding-right: 70px;
}

.collection-price h3 {
    font-size: 24px;
}

.collection-price p {
    font-size: 16px;
    color: #909090;
    padding-top: 15px;
}
/* collection-title Section */

/* collection-search Section */
.collection-search {
    width: 100%;
    height: 90px;
    position: sticky;
    top: 100px;
    background-color: black;
    z-index: 2;
}

.search-container {
    display: flex;
}

.search {
    width: 100%;
}

.collection-form {
    display: flex;
    margin: 0;
    margin-right: 8px;
    width: 80%;
    height: 50px;
    border: 1px solid rgba(90, 90, 90, 0.5);
    border-radius: 15px;
    background-color: black;
}

.collection-input {
    width: 100%;
    padding: 9px 4px 9px 40px;
    background: transparent url("../image/search-icon.svg") no-repeat 13px center;
}

.select {
    width: 350px;
    color: white; /* 적절한 텍스트 색상으로 변경 */
}

.selected {
    display: none; /* 체크박스를 숨기고 label로 대체 */
}

.select .option {
    display: none;
}

.selected:checked ~ .option {
    display: flex; /* 체크된 상태에서만 option 보이도록 변경 */
    flex-direction: column;
    border: 1px solid rgba(90, 90, 90, 0.5);
    border-radius: 15px;
    margin-top: 5px;
    overflow: hidden;
}

.option {
    background-color: black;
}

.option-value {
    font-weight: normal;
    padding: 16px 20px;
    cursor: pointer; /* 클릭 가능한 옵션을 나타내기 위해 cursor 속성 추가 */
}

.option-value:hover {
    background-color: rgba(90, 90, 90, 0.5);
    color: #fff; /* 배경색에 따른 텍스트 색상 변경 */
}

.toggle-option {
    padding: 0px 20px;
    justify-content: space-between;
    border-radius: 15px;
    height: 50px;
    border: 1px solid rgba(90, 90, 90, 0.5);
}

.toggle-option img {
    cursor: pointer;
}

.toggle-option img:hover {
    opacity: 0.8;
}


.collection-sorting {
    display: flex;
    width: 275px;
    height: 50px;
    border: 1px solid rgba(90, 90, 90, 0.5);
    border-radius: 15px;
    overflow: hidden;
    margin-left: 30px;
}

.collection-sorting button {
    width: 50px;
    height: 50px;
    background-color: black;
    border: none;
    color: white;
}

.collection-sorting button:nth-child(1) {
    background-color: rgba(90, 90, 90, 0.5);
}

.collection-sorting button:hover {
    background-color: rgba(90, 90, 90, 0.5);
}
/* collection-search Section */
/* collection-categories Section */
.collection-categories {
    margin-top: 50px;
}

.categories-container {
    display: flex;
}

.list-box {
    color: white;
}

.list-box li {
    list-style: none;
}

.left-container {
    width: 407px;
    height: 700px;
    overflow-y: scroll;
} 

.left-test{
    position: sticky;
    top: 190px;
}

#listFirst {
    display: none;
}

#listSecond {
    display: none;
}

#listThird {
    display: none;
}

#listFourth {
    display: none;
}

#listSixth {
    display: none;
}

#listSeventh {
    display: none;
}

#listFifth {
    display: none;
}

.list-box > li input[name=ddd]:checked ~ .sub {
    display:block;
 }

.list-box > li input[name=ddd]:checked + label .categori-title {
    background-color: rgba(90, 90, 90, 0.5);
}

 .list-box > li .sub {
    display:none;
 }

 .categori-title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 20px;
    align-items: center;
 }

 .categori-title:hover {
    background-color:rgba(90, 90, 90, 0.2);
 }

 .categori-title img {
    width: 16px;
    height: 16px;
}

.categori-title img:hover {
    opacity: 0.8;
    cursor: pointer;
}

 .sub { 
    padding: 20px 30px;
    margin-top: 10px;
 }

 .sub li {
    padding: 20px 0px;
 }

 .sub li p {
    font-size: 14px;
 }


 #value-checkbox{
    width: 18px !important;
    height: 18px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    outline: none;
    box-shadow: none;
    background: url(../image/checkbox-input.svg)no-repeat;
    cursor: pointer;
}

#value-checkbox:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
    box-shadow: none;
    background: url(../image/checkbox-checked.svg) no-repeat;
}
/* collection-categories Section */
/* collection-nft Section */
.nft-box {
    width: 291px;
    height: 463px;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(22.5px);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.nft-line {
    justify-content: space-between
}

.nft-line-margin {
    margin-top: 40px;
}

.eth-box {
    width: 75px;
    height: 30px;
    position: absolute;
    background-color: white;
    top: 275px;
    margin-left: 25px;
    border-radius: 15px;
    color: black;
    display: flex;
    align-items: center;
}

.eth-box p {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    letter-spacing: 0px;
}

.eth-box img {
    width: 16px;
    margin-left: 0px;
    padding-bottom: 1.5px;
}

.collection-nft-profile {
    width: 100%;
    height: auto;
    padding: 40px 25px;
    
}

.nft-box img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.nft-price-main {
    display: flex;
}

.nft-price-main h1 {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
}

.nft-price-main p {
    color: #909090;
    padding-top: 5px;
    margin-left: 10px;
}

.nft-price-sub p {
    font-size: 14px;
    margin-top: 10px;
    color: #909090;
}

.nft-button {
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #2A2A2B;
    border: none;
    color: white;
    font-size: 16px;
    bottom: 0;
    transition: 0.2s;
}

.nft-button:hover {
    background-color: #5D33E2;
}
/* collection-nft Section */
/* article Section */
.article-main {
    width: 100%;
    height: 650px;
    background:
        url(../image/aticleMain.svg) no-repeat;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-main-title {
    padding-top: 180px;
}

.article-main-title h1 {
    margin: 0;
    font-size: 64px;
}

.article-main-title p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 150%;
}

.article-main-title button {
    width: 220px;
    height: 50px;
    background-color: #5D33E2;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 120px;
}

.article-margin {
    margin-top: 80px;
}

.article-content {
    width: 100%;
    height: 650px;
    background:
        url(../image/article-content.svg) no-repeat;
    color: white;
    background-size: cover;
    margin-top: 150px;
}

.content-title {
    padding-left: 100px;
}
/* article Section */
/* ranking Section */
.ranking-margin {
    margin-top: 80px;
}
/* ranking Section */

/* minting Section */
.minting-container {
    display: flex;
    justify-content: space-between;
    width: 1720px;
    margin-top: 50px;
}

.minting-right {
    width: 990px;
    height: auto;
}

.macintosh-collection p {
    font-size: 16px;
    color: #5D33E2;
}

.macintosh-collection img {
    width: 14px;
    height: 14px;
}

.collection-name  {
    margin: 0;
    margin-top: 20px;
}

.nft-name {
    display: flex;
    margin-top: 15px;
}

.nft-name h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nft-name p {
    font-weight: bold;
    color: #909090;
    padding-top: 8px;
    padding-left: 5px;
}

#owner-name {
    font-size: 14px;
    color: #909090;
    margin-top: 10px;
}

.minting-nft-price {
    display: flex;
    margin-top: 55px;
}

.minting-nft-price h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.minting-nft-price p {
    font-size: 20px;
    color: #909090;
    padding-top: 24px;
    padding-left: 10px;
}

.mintingBtn {
    justify-content: space-between;
    margin-top: 20px;
}

.minting-button {
    width: 480px;
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.minting-blueBtn {
    background-color: #5D33E2;
    color: white;
}

.minting-whiteBtn {
    color: #5D33E2;
    transition: 0.4s;
}

.minting-whiteBtn:hover {
    background-color: #5D33E2;
    color: white;
}

.nft-detail {
    height: 425px;
    overflow-y: scroll;
    margin-top: 50px;
}

#nft-detail-text {
    color: #909090;
    line-height: 160%;
}

#nft-detail-text span {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.sub-flex {
    justify-content: space-between;
}

.sub-detail {
    color: #909090;
}

.sub-detail-text {
    color: #5D33E2;
}

.morefrom {
    margin-top: 150px;
}

.morefrom-container h1 {
    margin: 0;
}

.morefrom-title {
    padding-bottom: 30px;
}
/* minting Section */
/* help Section */
.help {
    margin-top: 80px;
}

.help-form {
    width: 100%;
}

.help-container h1 {
    margin-bottom: 35px;
}

.help-content {
    margin-top: 60px;
}
/* help Section */